.view-error {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    div.box {
        text-align: center;
        background-color: #ccc;
        padding: 2em;
    }
}