<div class="view-index">
    <h1>STCC Gamers</h1>
    <div class="login-wrapper">
        <a href="https://discordapp.com/api/oauth2/authorize?client_id=476194389325119499&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fsignin%2Fdiscord&response_type=code&scope=identify%20email%20guilds.join%20gdm.join%20messages.read%20connections"><button class="btn btn-primary btn-block btn-lg">Discord 계정으로 로그인</button></a>
    </div>
</div>