.view-index {
    height: 100vh;
    background-color: map-get($colors, primary);
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        text-align: center;
        margin-top: 0px;
    }

    div.login-wrapper {
        width: 100%;
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2em;
    }
}